@gray:#292929;
@foot:#0a0a0a;
@orange:#fda861;
@background: black;

body
{
    margin: 0px;
    background-color: @background;
    a
    {
        text-decoration: none;
        color:black;
    }
    ul{
        list-style-type: none;
    }

    .header
    {
        background-image: url(resourse/Фон2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        font-family: "Sans Semibold";
        padding-bottom: 30px;
        .next-game
        {
            padding: 25% 0 0 0;
            margin: 0 0 40px 0;
            width:70%; 
            background-color: @orange;
            clip-path: polygon(
                6.97% 0.00%,
                67.42% 4.74%,
                69.66% 18.42%,
                100.00% 19.21%,
                95.51% 100.00%,
                40.45% 97.37%,
                36.52% 30.26%,
                0.00% 32.63%,
                
            );
            font-family: "Sans extrabold";
            color: white;
            white-space: nowrap;
            position: relative;
            font-size: 2vw;
            .nearhead{
                position: absolute;
                top: 2%;
                left: 8%;
                display: block;
                margin: 0;
            }
            .neartwo{
                position: absolute;
                display: block;
                left:45%;
                top:25%;
                .h1 
                {
                    margin: 0;
                    font-size: 3vw;
                }
                .h2
                {
                    margin: 0;
                }
                ul {
                    padding:0;
                };
                a{
                    color:white;
                    font-family: "Sans Semibold";
                }
            }
        }
    }
    .header-gradient
    {
        background-image:linear-gradient(rgba(255,0,0,0) 80%,rgba(0,0,0,1)) , url(resourse/Фон2.jpg);
    }

    .logo-menu
    {
        display:flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 0 0 20px 0;
        .contact
        {
            margin: 10px;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 2vmax;
            a{
                margin: 0px 10px 0 10px;
                padding: 0px 10px 0 10px;
                background-color: rgba(0, 0, 0,0.5);
                box-shadow: 0 0 5px 5px rgba(0, 0, 0,0.5);
                color: white;
            }
        }
        .contact-vert
        {
            flex-direction: column;
            width: 30%;
            align-self: flex-start;
        }
        .contact-goriz
        {
            flex-direction: row;
            width: 100%;
        }
        .logo130
        {
            width: 130px;
            height: 130px;
            background-image: radial-gradient(circle at 50% 50%, rgba(0,0,0,0.1) 30px, rgba(0,0,0,0.5) 70%,rgba(0,0,0,0) 70%);
        }
        .logo200
        {
            width: 200px;
            height: 200px;
            background-image: radial-gradient(circle at 50% 50%, rgba(0,0,0,0.1) 30px, rgba(0,0,0,0.5) 70%,rgba(0,0,0,0) 70%);
            align-self: flex-start;
        }
        .main-menu
        {
            font-size: 2.5vmax;
            white-space: nowrap;
            li{
                margin-bottom: 10px;
                padding: 0px;
            }
            li:hover{
                background: rgba(100, 65, 165, 0.473);
            }
        }
        .main-menu-goriz
        {
            display:flex;
            flex-wrap: wrap;
            flex-direction:row;
            justify-content: space-around;
            align-items: center;
            width: calc(100% - 130px);
            margin: 20px 0 20px -65px;
            padding: 0 0 0 65px;
            background-image: radial-gradient(
                circle at -0px 50%,
                rgba(0, 0, 0, 0) 0,
                rgba(0, 0, 0, 0) 63px,
                rgba(255, 255, 255, 0.6) 65px);
        }
        .main-menu-vert
        {
            padding-left: 0px;
            display: flex;
            flex-direction:column;
            justify-content:flex-start;
            align-items:flex-start;
            li{
                text-align: left;
            }
        }
    }
    
    .body-site
    {
        margin: 20px 20px 20px 20px;
        color:white;
        h1, h3 {
            font-family: "Sans Semibold";
            font-size: 2vmax;
        };
        .map
        {
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            h1
            {
                text-align: center;
            }
            .mapframe
            {
                padding-top: 30%;
                position: relative;
                width: 100%;
                max-width: 1200px;
                min-width: 150px;
                min-height: 100px;
                iframe
                {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                }
            }
            .pos-map
            {
                font-size: 1vmax;
                font-family:"Sans light";
            }
        }
    
        .body-text-flex
        {
            font-size: 1.5vmax;
            display:flex;
            justify-content: stretch;
            .left
            {
                width: 40%;
            }
            .right
            {
                margin-left: 10%;
                width: 40%;
            }
            .allwidth
            {
                margin-left: 10%;
                width: 100%;
                text-align: center;
                h1{
                    margin: 0px;
                    font-family: "Sans Semibold";
                    font-size: 4vmax;
                    width: 80%;
                    margin-left: 10%;
                    margin-right: 10%;
                }
                p{
                    font-family: "Sans";
                    font-size: 2vmax;
                    width: 80%;
                    margin-left: 10%;
                    margin-right: 10%;
                }
            }
        }
        .galery
        {
            margin-top: 80px;
            width: 100%;
            display:flex;
            flex-direction:column;
            justify-content: flex-start;
            align-items: flex-start;

            .galery-photo
            {
                display:flex;
                flex-direction:row;
                justify-content: space-around;
                align-items: center; 
                flex-wrap: wrap;
                width: 100%;
                .photo-container {
                    width: 30%;
                    padding-top: 22%; // (3/4)*30% 
                    position: relative;
                    background-image: url(Resourse/треня.png) ;
                    background-size: cover;
                    background-position: center;
                }
                .photo {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    p
                    {
                        margin: 0px;
                        font-size: 2vmax;
                    }
                    p:nth-child(1)
                    {
                        font-family: "Sans";
                    } 
                    p:nth-child(2)
                    {
                        font-family: "Sans Semibold";  
                    }
                    p:nth-child(3)
                    {
                        font-family: "Sans Semibold";   
                    }   
                }
            }
        }
        .galery2-container
        {
            padding-top: 20%; // 3 |4| |4| |4| 12x3 1/4
            position: relative;
            width: 100%;

            .galery-photo
            {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                flex-direction: row;
                justify-content:space-around;
                overflow: auto;
                img
                {
                    margin: 5px 0 0 5px;
                    display:inline-block;
                    //width:calc(100% * (1/3) - 5px - 5px);
                    width: 30%;
                    height: 100%;
                }
            }
        }
        .game
        {
            //height: 300px;
            background-color: black; 
            display: flex;
            flex-direction:row;
            justify-content:center;
            align-items:flex-start;
            .signforgamebutton
            {
                margin-top: 10%;
                margin-bottom: 15%;
                text-align: center;
                width: 80%;
                height: 26%;
                background: @orange;
                font-family: "Sans extrabold";
                font-weight:bolder;
                font-size: 5vmin ;
                line-height: 75px;
            }
        }
    }
    footer
    {
        height: 50px;
    }
}


@media screen  and (max-width: 980px)
{
    body
    {
        .body-site
        {
            .body-text-flex
            {
                display:flex;
                flex-wrap: wrap;
                flex-direction:row;
                justify-content:flex-start;
                .left
                {
                    width: 100%;
                }
                .right
                {
                    margin-left: 0;
                    width: 100%;
                }
            }
        }
    }
    
    // .game
    // {
    // margin-top: 0px;
    // }
    // .contact
    // {
    //     a{
    //         background-color: rgba(0, 0, 0,0.5);
    //         box-shadow: 0 0 5px 5px rgba(0, 0, 0,0.5);
    //         color: white;
    //     }
    // }
}
@media screen  and (max-width: 690px)
{
    body
    {
        .logo-menu
        {
            flex-direction: column;
            .main-menu-goriz
            {
                flex-direction: column;
                margin: -65px 0 0 0;
                padding: 65px 0 0 0;
                background-image: radial-gradient(
                    circle at 50% 0px,
                    rgba(0, 0, 0, 0) 0,
                    rgba(0, 0, 0, 0) 63px,
                    rgba(255, 255, 255, 0.6) 65px);
            }
            .contact-goriz
            {
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
            }
        }
        .body-site
        {
            .galery
            {
                margin-top: 0px;
                .galery-photo
                {
                    flex-direction: column;
                    .photo-container
                    {
                        width: 80%;
                        padding-top: 50%;
                        margin-top: 10px;
                    }
                    .photo > p 
                    {
                        font-size: 4vw;
                    }
                }
            }
        }
    }   
}

@media screen and (max-width:1024px)
{
    body 
    {
        .header
        {
            .logo-menu
            {
                align-items: center;
                .contact-vert
                {
                    order: 1;
                    margin: 0;
                    margin-top: 10px;
                    padding: 0;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 30px;
                    a{
                        background-color: rgba(0, 0, 0,0.5);
                        box-shadow: 0 0 5px 5px rgba(0, 0, 0,0.5);
                    }
                }
                .logo200
                {
                    order: 2;
                    margin: 0;
                    flex-grow: 0;
                    width: 130px;
                    height: 130px;
                    align-self: center;
                    background-image: radial-gradient(circle at 50% 50%, rgba(0,0,0,0.1) 30px, rgba(0,0,0,0.5) 70%,rgba(0,0,0,0) 70%);
                }
                .main-menu-vert
                {
                    font-size: 2.5vmax;
                    width: 88%;
                    order: 3;
                    margin: 0;
                    margin: -65px 0 0 0;
                    padding: 65px 0 0 0;
                    align-items: center;
                    background-image: radial-gradient(
                    circle at 50% 0px,
                    rgba(0, 0, 0, 0) 0,
                    rgba(0, 0, 0, 0) 58px,
                    rgba(255, 255, 255, 0.6) 65px);
                    li{
                        text-align: center;
                    }
                }
            }
            .next-game
            {
                padding-top: 40%;
                width: 100%;
                background: none;
                clip-path: none;
                font-size: 4vw;
                .nearhead{
                    background: #fda861;
                    padding: 0 20px 0 20px;
                }
                .neartwo{
                    background: #fda861;
                    .inf
                    {
                        p {padding: 0 20px 0 20px;}
                    }
                    .cont
                    {
                        //background: #fda861;
                        a {padding: 0 20px 0 20px;}
                    }
                    .h1
                    {
                        font-size: 5vmax;
                    }
                    ul
                    {
                        margin: 0;
                    }
                    left: 20%;
                }
            }
        }
        .body-site
        {
            .galery2-container
            {
                padding-top: 33%; // 3 4+4+1 3/9
                // .galery
                // {
                //     
                // }
                .galery-photo > img
                {
                    //width:calc(100% * (1/2) - 5px - 5px);
                    width: 45%;
                }
            }
        }
    }
    // .nearhead
    // {
    //     background: #fda861;
    //     padding: 0 20px 0 20px;
    // }
    // .image
    // {
    //     padding-top: 40%;
    //     width: 100%;
    //     background: none;
    //     clip-path: none;
    //     font-size: 4vw;
    //     .neartwo
    // {
    //         background: #fda861;
    //     .inf
    //     {
    //         p{padding: 0 20px 0 20px;}
    //     }
    //     .cont
    //     {
    //         //background: #fda861;
    //         a{padding: 0 20px 0 20px;}
    //     }
    //     .h1{
    //         font-size: 5vmax;
    //     }
    //     ul{
    //         margin: 0;
    //     }
    //     left: 20%;
    // }
    // }
    // .flex
    // {
    //     flex-direction: column;
    //     align-items:center;
    //     width: 100%;
    // }
    // .contact
    // {
    //     order: 1;
    //     margin: 0;
    //     margin-top: 10px;
    //     padding: 0;
    //     flex-direction: row;
    //     justify-content: space-between;
    //     width: 100%;
    //     margin-bottom: 30px;
    //     a{
    //         background-color: rgba(0, 0, 0,0.5);
    //         box-shadow: 0 0 5px 5px rgba(0, 0, 0,0.5);
    //     }
    // }
    // .logo
    // {
    //     order: 2;
    //     margin: 0;
    //     flex-grow: 0;
    //     img{
    //         width: 130px;
    //         height: 130px;
    //         background-image: radial-gradient(circle at 50% 50%, rgba(0,0,0,0.1) 30px, rgba(0,0,0,0.5) 70%,rgba(0,0,0,0) 70%);
    //     }
    // }
    // .menu
    // {
    //     font-size: 2.5vmax;
    //     width: 88%;
    //     order: 3;
    //     margin: 0;
    //     margin: -65px 0 0 0;
    //     padding: 65px 0 0 0;
    //     background-image: radial-gradient(
    //     circle at 50% 0px,
    //     rgba(0, 0, 0, 0) 0,
    //     rgba(0, 0, 0, 0) 58px,
    //     rgba(255, 255, 255, 0.6) 65px);
    //     li{text-align: center;}
    // }
    // .galery
    // {
    //     padding-top: 33%; // 3 4+4+1 3/9
    // }
    // .galery img
    // {
    //     //width:calc(100% * (1/2) - 5px - 5px);
    //     width: 45%;
    // }
}

//шрифты
@font-face 
{
    font-family: "Sans extrabold";  
    src: url("Resourse/2206.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face 
{
    font-family: "Sans light";  
    src: url("Resourse/2209.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face 
{
    font-family: "Sans"; 
    src: url("Resourse/2211.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face 
{
    font-family: "Sans Semibold"; 
    src: url("Resourse/2212.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 