title = "about"
url = "/about"
layout = "default"
is_hidden = 0
==

<div class="center">
    <div class="container_form login">
        <div class="row about">
            
            <div class="col-12 p-0 top-about">
                <img src="{{'assets/images/слайд.jpg'|theme}}" alt="nike_running" class="w-100" > 
                <h1 class="center">Segnora shop</h1>
            </div>

            <div class="col-12 p-0">
                    <hr>
                    <h4> Представляем Вам большой выбор женской одежды из России, Италии, Турции по доступным ценам.
                    Наша главная цель - помочь Вам выглядеть стильно и модно, подобрать оригинальную
                    и качественную одежду, отличаться от "серой массы", и всё это не затрачивая целого состояния.
                    </h4>               
                    <hr>
            </div>

            <div class="col-12 col-md-6  p-0 pt-3 order-3">
                    <img src="{{'assets/images/магазин.jpg'|theme}}" alt="nike" class=" img-fluid w-100"> 
            </div>

            <div class="col-12 col-md-6 px-md-5 pt-3 my-auto order-4">
                    <h2 class="text-center"> Наши магазины </h2>
                    <hr>
                    <ul class="align-items-center text-center">             
                        <li><h5>г. Воскресенск, пл. Ленина, д.5, ТРЦ «Воскресенск»;</h5></li>
                        <li><h5>г. Жуковский, ул. Баженова, д.2а, ТРЦ "Авиатор";</h5></li>
                        <li><h5>г. Лыткарино, ул. Парковая, стр.2, ТРЦ "Весна".</h5></li>
                        <li><h4>Часы работы: с 10-00 до 22-00 Без выходных.</h4></li>
                    </ul>
            </div>

            <div class="col-12 col-md-6 px-md-5 pt-3 my-auto order-6 order-md-5">
                    <h2 class="text-center"> Наши товары </h2>
                    <hr>
                    <h5> Поход по магазинам становится проще, когда есть из чего выбрать.
                        В магазине женской одежды Segnora
                        можно не только приобрести новую вещь в гардероб, но и испытать удовольствие от шопинга. </h5>
            </div>

            <div class="col-12 col-md-6  p-0 order-5 order-md-6">
                    <img src="{{'assets/images/seg2.jpg'|theme}}" alt="adidas" class=" img-fluid w-100"> 
            </div>
            
        </div>
    </div>
</div>
<!-- <div class="center ">
    <div class="container_form about">
        <div class="container-p20">
            <div>
                <div class="center carousel-inner">
                    <img src="{{'assets/images/seg1.5.png'|theme}}">
                </div>
                <div>
                    <p>
                        Представляем Вам большой выбор женской одежды из России, Италии, Турции по доступным ценам.
                        Наша главная цель - помочь Вам выглядеть стильно и модно, подобрать оригинальную
                        и качественную одежду, отличаться от "серой массы", и всё это не затрачивая целого состояния.
                    </p>
                </div>


                <ul class="align-items-center">    
                    <li>Ждём Вас по адресу:</li>         
                    <li>г. Воскресенск, пл. Ленина, д.5, ТРЦ «Воскресенск»;</li>
                    <li>г. Жуковский, ул. Баженова, д.2а, ТРЦ "Авиатор";</li>
                    <li>г. Лыткарино, ул. Парковая, стр.2, ТРЦ "Весна".</li>
                    <li>Часы работы: с 10-00 до 22-00 Без выходных.</li>
                </ul>
            </div>
            <div>
            </div>
        </div>
    </div>
</div> -->