title = "accaunt"
url = "/accaunt"
layout = "default"
is_hidden = 0

[account]
redirect = 0
paramCode = "code"
forceSecure = 0
==
<?php
function onStart(){
    if (isset($_SERVER['HTTP_REFERER']))
    {
        $this['redirect_url'] =$_SERVER['HTTP_REFERER'];
    } 
    else 
    {
        $this['redirect_url'] ="/accaunt";
    }
}
?>
==
<div class="center">
    <div class="container_form login">
        <!-- <div class="container-p20"> -->
            <div class="h-100">
                {% if user %}
                    <div class="center">
                        <div class="login_info mt-2">Личные данные</div>
                    </div>
                {% endif %}
                <div class="border-content p-4 mt-2 mb-2">
                    {% partial account ~ '::default' %}
                </div>
            </div>
            {% if user %}
                {% partial 'history' %}
                
                <div class="modal fade " id="order" >
                    {% partial 'history_info' records2=[] %}
                </div>
            {% endif %}
        <!-- </div> -->
    </div>
</div>