title = "basket"
url = "/basket"
layout = "default"
is_hidden = 0

[session]
security = "user"
redirect = "accaunt"
==
<div class="center">
    <div class="container_form login">
            {% partial 'bsk_modal'%}
        <div class="bsk">
            {% partial "bsk.htm"%}
        </div>
        <div class="modal fade" id="info" >
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header ">
                            <h5 class="modal-title" id="exampleModalLongTitle">Заказ оформлен</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="text-center modal-body">
                            <p class="m-0">Спасибо за покупку, ждем вас сново</p>
                        </div>
                        <!-- <div class="modal-footer">
                            <p>Вы можете отменить свой заказ в течении 30 минут</p>
                        </div> -->
                    </div>
                </div>
            </div>
    </div>
</div>