title = "cabinet"
url = "/cabinet"
layout = "default"
is_hidden = 0

[account]
paramCode = "code"
forceSecure = 0

[session]
security = "user"
redirect = "home"
==

<!-- <form >
    <div class="form-group">
        <label for="exampleInputEmail1">Имя:</label>
        <input type="email" class="form-control" disabled >
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email:</label>
        <input type="email" class="form-control" disabled >
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Пароль:</label>
        <input type="password" class="form-control" disabled >
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Телефон:</label>
        <input type="password" class="form-control" disabled >
    </div>
    <p>
        <input type="checkbox" name="agree" onclick="agreeForm(this.form)">
        Для редактирования поставьте флажок
    </p>
    <button type="submit" class="btn btn-primary">Редактировать</button>
</form> -->
<div class="center">
    <div class="container_form login">
        <div class="container-p20">
            <div class="h-100">
                <div class="center">
                    <div class="login_info mt-2">Личные данные</div>
                </div>
                <div class="border-content p-4 mt-2 mb-2">
                    {% partial 'segnora_user_update' %}

                    {% partial account ~ '::deactivate_link' %}
                </div>
            </div>
            <div class="bsk">
                <div class="center">
                    <div class="login_info">История заказов</div>
                </div>
                <div class="center mt-2 mb-2">
                    <div class="border-content  w-100">
                        <div class="center basket-tovar">
                            <div class="basket-img center p-1 ">
                                <img src="{{'assets/images/Безымянный.png'|theme}}" >
                            </div>
                            <div class="p-2 p-md-4">
                                <P>Юбка полосатая</P>
                                <P>Размер</P>
                            </div>
                            <div class="p-2 p-md-4">
                                <p>кол-во</p>
                            </div>
                            <div class="p-2 p-md-4">
                                <p>цена</p>
                            </div>
                            <div class="p-2 p-md-4">
                                <p>удалить</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="center mt-2 mb-2">
                        <div class="border-content  w-100">
                            <div class="center basket-tovar">
                                <div class="basket-img center p-1 ">
                                    <img src="{{'assets/images/Безымянный.png'|theme}}" >
                                </div>
                                <div class="p-2 p-md-4">
                                    <P>Юбка полосатая</P>
                                    <P>Размер</P>
                                </div>
                                <div class="p-2 p-md-4">
                                    <p>кол-во</p>
                                </div>
                                <div class="p-2 p-md-4">
                                    <p>цена</p>
                                </div>
                                <div class="p-2 p-md-4">
                                    <p>удалить</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>