title = "Segnora"
url = "/"
layout = "default"
is_hidden = 0
==
<!-- Тело -->



<div class="container gl">
    <div class="container-p20">
        <div id="carousel1" class="carousel slide" data-ride="carousel" data-interval="6000">
            <ol class="carousel-indicators">
                <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel1" data-slide-to="1" ></li> 
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{'assets/images/слайд.jpg'|theme}}" >
                    <div class="carousel-caption">
                        <h3>Новая коллекция летней одежды 2019</h3>
                        <p><a href="{{'magazin'|page}}">Подробнее</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{'assets/images/салйд-2.jpg'|theme}}" >
                    <div class="carousel-caption">
                        <h3>Новая коллекция летней одежды 2019</h3>
                        <p><a href="{{'magazin'|page}}">Подробнее</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-p20">
    <!--new -->
        <div class="row">
            <!-- Картинка с надписью new -->
            <div class=" card col-sm-12 col-md-12 col-lg-4 col-xl-3 w-100 new mt-3">
                <div class="card-body">
                    <div class="text">
                        <h5 class="card-title">Новые поступления</h5>
                        <p class="card-text">Посмотрите наши новые товары</p>
                        <H5 class="card-text">
                            <a id="blink" href="{{'magazin'|page}}">Смотреть все</a>
                        </H5>
                    </div>
                </div>
            </div>
            <!-- Тело с 6 новыми товарами  -->
            {% partial "scrool.htm" iff=1 idcontrol="carusel2" idscroll="scroll2" %}
        </div>
    <!--sale-->
        <div class="row">
            <!-- Картинка с надписью sale -->
            <div class=" card col-sm-12 col-md-12 col-lg-4 col-xl-3 w-100 sale mt-3">
                <div class="card-body">
                    <div class="text">
                        <h5 class="card-title">Новые поступления</h5>
                        <p class="card-text">Посмотрите наши новые скидки</p>
                        <H5 class="card-text">
                            <!-- <a href="{{'magazin'|page}}?discount=on">Смотреть все</a> -->
                            <form method="POST" action="{{'magazin'|page}}">
                                <input type="hidden" name="discount" value='on'>
                                <button id="blink" type="submit"><h5>Смотреть все</h5></button>
                            </form>
                        </H5>
                    </div>
                </div>
            </div>
            <!-- Тело с 6 новыми скидками  -->
            {% partial "scrool.htm" iff=2 idcontrol="carusel3" idscroll="scroll3"%}
        </div>
        <!-- news -->
        <div class="row">
            <!-- Картинка с надписью news -->
            <div class=" card col-sm-12 col-md-12 col-lg-4 col-xl-3 w-100 news mt-3">
                <div class="card-body">
                    <div class="text">
                        <h5 class="card-title">Новые поступления</h5>
                        <p class="card-text">Посмотрите наши новые товары</p>
                        <H5 class="card-text">
                            <a id="blink" href="{{'news'|page}}">Смотреть все</a>
                        </H5>
                    </div>
                </div>
            </div>
            <!-- Тело с 6 новыми новостями  -->
            {% partial "news.htm" %}
        </div>
    </div>        
</div>