title = "login"
url = "/login"
layout = "default"
is_hidden = 0
==


<div class="center h-100">
    <div class="container_form login">
        <div class="container-p20">
            <div class="h-100">
                <div class="center">
                    <div class="login_info mt-2">Авторизация</div>
                </div>
                <div class=" p-4 mt-2 mb-2 row">
                
                
                    <form class="col-6 border-content">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email:</label>
                            <input type="email" class="form-control"  >
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Пароль:</label>
                            <input type="password" class="form-control"  >
                        </div>
                        <button type="submit" class="btn btn-primary">Войти</button>
                    </form>
                    
                    
                    <form class="col-6 border-content">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email:</label>
                            <input type="email" class="form-control"  >
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Пароль:</label>
                            <input type="password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Регистрация</button>
                    </form>
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>