title = "magazin"
url = "/magazin/:page?"
layout = "default"
is_hidden = 0
==
<!-- Тело магазина -->
<div class="container">
    <div class="container-p20">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 top-body">{% partial "left_menu.htm"%}</div>
            <div id="result" class=" col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 p-0">{% partial "gallery.htm"%}</div>
        </div>
    </div>
</div>