title = "news_news"
url = "/news_news/:id?"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Kirill\Segnora\Models\News"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "name"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
    <div class="center page_news">
        <div class="container_form">
            <div class="container-p20">
                <div class="center">
                    <div><h3>{{ record.name}}</h3> </div>
                </div>
                <div class="pt-4 row">
                    <div class="col-md-6 col-lg-9">
                        <img src="{{'assets/images/календарь.png'|theme}}" style="width:20px;height:20px;">{{ record.data }}
                    </div>
                    <div class="center row">
                        <div class="col-md-8 col-lg-9"><p>{{record.news_text}}</p></div>
                        <div class="center col-md-4 col-lg-3">
                            <img src="{{record.photo|media}}" style="width:200px;height:200px;">
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="center back">
                <a href="{{'news'|page}}">К новостям</a>
            </div>
        </div>
    </div>
{% else %}
    {{ notFoundMessage }}
{% endif %}