title = "news"
url = "/news"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Kirill\Segnora\Models\News"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "news_news"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "id"
sortDirection = "desc"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<div class="center page_news">
    <div class="container_form login">
 
        {% for record in records %}

                <div class="center mt-2 mb-2">
                    <div class="border-content container ">
                        <div>
                            <div class="center news-post-top row">
                                <H5 class="pr-2"><img src="{{'assets/images/календарь.png'|theme}}" style="width:20px;height:20px;">{{ record.data }}</H5>
                                <H3>
                                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                                    {{ record.name }}
                                    </a>
                                </H3>
                            </div>
                        </div>
                        <div class="center">
                            <div><p>{{html_limit(record.news_text, 310)|raw}}</p></div>
                            <div>
                                <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                                    <img src="{{record.photo|media}}" class="d-sm-block d-none" style="width:150px;height:150px;">
                                </a>
                            </div>
                        </div>
                            
                    </div>
                </div>

        {% endfor %}
 
    </div>
</div>