title = "reg"
url = "/reg"
layout = "default"
is_hidden = 0

[account]
redirect = "cabinet"
paramCode = "code"
forceSecure = 0
==
<div class="center h-100">
    <div class="container_form login">
        <div class="container-p20">
            <div class="h-100">
                <div class="center">
                    <div class="login_info mt-2">Авторизация</div>
                </div>
                <div class="border-content p-4 mt-2 mb-2">
                
                
                    {% if not user %}

                        <div class="row">
                    
                            <div class="col-md-6">
                                <h3>Sign in</h3>
                                {% partial account ~ '::signin' %}
                            </div>
                    
                            <div class="col-md-6">
                                {% partial account ~ '::register' %}
                            </div>
                    
                        </div>
                    
                    {% else %}
                    
                        {% partial account ~ '::activation_check' %}
                    
                        {% partial account ~ '::update' %}
                    
                        {% partial account ~ '::deactivate_link' %}
                    
                    {% endif %}
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>