title = "test"
url = "/test"
layout = "default"
is_hidden = 0
==
<div class="center h-100">
    <form method="POST" action="">
        <input name="name" type="text" placeholder="Имя"/>
        <input name="text" type="text" placeholder="Текст"/>
        <input type="submit" value="Отправить"/>
    </form>
</div>
{% for record in records %}
<input type="hidden" name="id_user" value="{{ record.id_user }}" />
<div class="center mt-2 mb-2 ">
    <div class="border-content container ">
        <form data-request="onDeleteFromCart">
            <input type='hidden' name='index' value='{{ i }}'>
            <div class="center row">
                <div class="basket-img center p-1  ">
                    {% if detailsPage %} 
                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}"class="h-100 center"> 
                    {% endif %}
                        <img src="{{record.card.photo|media}}" >
                    {% if detailsPage %}
                    </a> 
                    {% endif %}
                </div>
                <div class="basket-tovar p-1 col-md-8 ">
                    <div class="p-2 ">
                        <P>{{ record.card.name }}</P>
                        <P>Размер {{ record.size }}</P>
                    </div>
                    <div class="p-2">
                            {% if record.card.discount >0 %}
                                <p>Цена {{ record.card.discount }}</p>
                            {% endif %}
                            {% if record.card.discount ==0 %}
                                <p>Цена {{ record.card.price }}</p>
                            {% endif %}
                    </div>
                    <div class="p-2">
                        <input type="hidden" name="del_cart" value="{{ record.id }}" />
                        <input type="submit" value="Удалить">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{%endfor%}
