title = "tovar"
url = "/tovar/:id"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Kirill\Segnora\Models\Card"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "name"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
{%set valid='' %}
<div class="container">
    <div class="tovar row container-p20">

        <div class="row p-0 pr-3 center col-sm-6 col-md-6 col-lg-4">
            <div>
                <img src="{{record.photo|media}}" class="card-img-top img">
            </div>
            
        </div>
        <div class="p-0 pr-3 composition h-100 col-md-6 col-lg-4" id='tovarinfo'>
            {% partial "card_info.htm"%}
        </div>
        <div class="modal fade bd-example-modal-sm" id="info1" >
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <div class="text-center modal-body">
                        Товар добавлен в корзину
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-sm" id="info2" >
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title" id="exampleModalLongTitle">Ошибка</h5>
                    </div>
                    <div class="text-center modal-body">
                        <p class="m-0">Упс, похоже этот товар закончился</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-0 pl-lg-3 col-lg-4  align-items-start">
            <h4 class="center col-12">Описание</h4>
            <P class="text-center">
                {{ record.description }}
            </P>
        </div>
    </div>
</div>
{% else %}
    {{ notFoundMessage }}
{% endif %}