<!-- <a class="text-center"
    href="javascript:;"
    onclick="$('#accountDeactivateForm').toggle()">
    <p>Деактивировать аккаунт</p>
</a> -->
<!-- <label for="delac"><p>Деактивировать аккаунт</p></label>
<input id="delac"  type="submit" onclick="$('#accountDeactivateForm').toggle()"> -->
<input style="white-space: normal;" value="Деактивировать" type="submit" onclick="$('#accountDeactivateForm').toggle()">
<!-- <input class="btn btn-danger"  type="button" onclick="$('#accountDeactivateForm').toggle()"> -->
<!-- <button type="submit" class="btn btn-danger" onclick="$('#accountDeactivateForm').toggle()">
    Подтвердите деактивацию аккаунта
</button> -->



<div id="accountDeactivateForm" style="display: none">
    {{ form_ajax('onDeactivate') }}
        <hr />
        <h3>Отключить учетную запись?</h3>
        <p>
            Ваша учетная запись будет отключена, а ваши данные удалены с сайта.
            Вы можете активировать свою учетную запись в любое время, выполнив вход
        </p>
        <div class="form-group">
            <label for="accountDeletePassword">Чтобы продолжить, пожалуйста, введите ваш пароль:</label>
            <input name="password" type="password" class="form-control" id="accountDeletePassword" />
        </div>
        <button type="submit" class="btn btn-danger">
            Подтвердите деактивацию аккаунта
        </button>
        <!-- <a
            href="javascript:;"
            onclick="$('#accountDeactivateForm').toggle()">
            я передумал
        </a> -->
    {{ form_close() }}
</div>
