{% if not user %}
<div class="row">
    <div class="col-md-6">
        <h3>Вход</h3>
        {% partial account ~ '::signin' %}
    </div>
    <div class="col-md-6">
        <h3>Регистрация</h3>
        {% partial account ~ '::register' %}
    </div>
</div>
{% else %}
    {% partial account ~ '::update' %}
    {% partial account ~ '::deactivate_link' %}
{% endif %}