{% if canRegister %}
    <form 
        data-request="onRegister"
        data-request-data="redirect: '{{redirect_url}}'">
        <div class="form-group">
            <label for="registerName">Имя</label>
            <input
                name="name"
                type="text"
                class="form-control"
                id="registerName" required
                placeholder="Введите имя" />
        </div>

        <div class="form-group"> 
        <label for="registerSurname">Фамилия</label> 
            <input 
            name="surname" 
            type="text" 
            class="form-control" 
            id="registerSurname" 
            placeholder="Введите фамилию" required /> 
        </div>

        <div class="form-group">
            <label for="registerEmail">Email</label>
            <input
                name="email"
                type="email"
                class="form-control"
                id="registerEmail" required
                placeholder="Введите свой email" />
        </div>

        {% if loginAttribute == "username" %}
            <div class="form-group">
                <label for="registerUsername">Username</label>
                <input
                    name="username"
                    type="text"
                    class="form-control"
                    id="registerUsername" required
                    placeholder="Enter your username" />
            </div>
        {% endif %}

        <div class="form-group">
            <label for="registerPassword">Пароль</label>
            <input
                name="password"
                type="password"
                class="form-control"
                id="registerPassword" required
                placeholder="Придумайте пароль" />
        </div>

        <!-- <div class="form-group">
            <label for="registerPassword1">Пароль</label>
            <input
                name="password1"
                type="password"
                class="form-control"
                id="registerPassword1" required
                placeholder="Повторите пароль" />
        </div> -->

        <input value="Регистрация" type="submit">
    </form>
{% else %}
    <!-- Registration is disabled. -->
{% endif %}
