<form data-request="onSignin" data-request-data="redirect: '{{redirect_url}}'">
        
    <div class="form-group">
        <label for="userSigninLogin">Email</label>
        <input
            name="login"
            type="text"
            class="form-control"
            id="userSigninLogin" required
            placeholder="Введите свой Email" />
    </div>

    <div class="form-group">
        <label for="userSigninPassword">Пароль</label>
        <input
            name="password"
            type="password"
            class="form-control"
            id="userSigninPassword" required
            placeholder="Введите свой пароль" />
    </div>
    <input value="Вход" type="submit">
    
</form>