{{ form_ajax('onUpdate') }}

    <div class="form-group">
        <label for="accountName">Имя</label>
        <input name="name" type="text" class="form-control" id="accountName" value="{{ user.name }}">
    </div>

    <div class="form-group">
        <label for="accountSurname">Фамилия</label>
        <input name="surname" type="text" class="form-control" id="accountSurname" value="{{ user.surname }}">
    </div>

    <div class="form-group">
        <label for="accountEmail">Email</label>
        <input name="email" type="email" class="form-control" id="accountEmail" value="{{ user.email }}">
    </div>

    <div class="form-group">
        <label for="phone">Телефон</label>
        <input name="phone" type="text" class="form-control" id="phone" value="{{ user.phone }}">
    </div>

    <div class="form-group">
        <label for="adress">Адресс доставки</label>
        <input name="adress" type="text" class="form-control" id="adress" value="{{ user.adress }}">
    </div>

    <div class="form-group">
        <label for="accountPassword">Новый пароль</label>
        <input name="password" type="password" class="form-control" id="accountPassword">
    </div>

    <div class="form-group">
        <label for="accountPasswordConfirm">Повторите пароль</label>
        <input name="password_confirmation" type="password" class="form-control" id="accountPasswordConfirm">
    </div>

    <div style="display: flex;
        justify-content: space-between;
        flex-wrap: wrap;">
        <input  type="submit" value="Соханить">
        <input  type="submit" data-request="onLogout" data-request-data="redirect: '/'" value="Выйти">
    </input>
    </div>
{{ form_close() }}
