{% if not user %}

    <div class="row">

        <div class="col-md-6">
            <h3>Sign in</h3>
            {% partial __SELF__ ~ '::signin' %}
        </div>

        <div class="col-md-6">
            {% partial __SELF__ ~ '::register' %}
        </div>

    </div>

{% else %}

    {% partial __SELF__ ~ '::activation_check' %}

    {% partial 'user-update' %}

    {% partial __SELF__ ~ '::deactivate_link' %}

{% endif %}
