

<div class="card">
    <div class="bg-card"></div>
    <div class="div-img">
        <img src="{Assetsimage}/Безымянный.png" class="card-img-top img">
    </div>
    <div class="card-body w-100 p-0 text-center">
        <h5 class="card-title m-0">1234р</h5>
        <p class="card-text">Юбка полосатая</p>
    </div>
</div>