[builderList]
modelClass = "Kirill\Segnora\Models\Basket_tovar"
scope = "scopeBasket2"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "tovar"
detailsKeyColumn = "id_card"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "id"
sortDirection = "desc"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<div class="center basket-head row">
{%if records|length>0 %}
    <div class="center text-center basket-info col-12 col-md-4">
        Количество товара {{records |length }}<br>
        Общая сумма
        {%set sum = 0 %}
        {% for record in records %}
            {% if record.card.discount >0 %}
                {%set sum=sum+record.card.discount%}
            {% endif %}
            {% if record.card.discount ==0 %}
                {%set sum=sum+record.card.price%}
            {% endif %}
        {%endfor%}{{sum}}<br>
    </div>
    <div class="center text-center basket-welcome col-12 col-md-8">
        Хороший выбор! На вас будет прекрасно смотреться!
    </div>
{%else%}
    <div class="center text-center basket-info col-12 col-md-4">
        Ваша корзина пуста<br>
    </div>
    <div class="center text-center basket-welcome col-12 col-md-8">
        вы можете посмотреть свои заказы в личном кабинете
    </div>
{%endif%}
</div>
{%if records|length==0 %}
    <form class="center mt-5" action="{{'accaunt'|page}}">
        <input type="submit" value="Личный кабинет">
    </form>
{%else%}
<div class="w-100 center">
    <input data-toggle="modal" data-target="#exampleModalCenter"  value="Оформить заказ" type="submit">
</div>
{%endif%}
<div class="row">
    {% for record in records %}
    <input type="hidden" name="id_user" value="{{ record.id_user }}" />
    <form class="col-12 col-md-6">
        <div class="mt-2 mb-2 border-content">
            <input type='hidden' name='index' value='{{ i }}'>
            <div class="center">
                <div class="basket-img">
                    {% if detailsPage %} 
                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}"class="h-100 center"> 
                    {% endif %}
                        <img src="{{record.card.photo|media}}" >
                    {% if detailsPage %}
                    </a> 
                    {% endif %}
                </div>
                <div class="p-2 text-center">
                    <P>{{ record.card.name }}</P>
                    <P>Размер {{ record.size }}</P>
                    {% if record.card.discount >0 %}
                        <p>Цена {{ record.card.discount }}</p>
                    {% endif %}
                    {% if record.card.discount ==0 %}
                        <p>Цена {{ record.card.price }}</p>
                    {% endif %}
                    <input type="hidden" name="del_cart" value="{{ record.id_card }}" />
                    <input type="hidden" name="id" value="{{ record.id }}" />
                    <input type="hidden" name="size" value="{{ record.size }}" />
                    <input data-request="onDeleteFromCart" type="submit" value="Удалить">
                </div>
            </div>
        </div>
    </form>
    {%endfor%}
</div>
</form>

<script>


$('input[type=radio][data-toggle=radio-collapse]').each(function(index, item) {
    var $item = $(item);
    var $target = $($item.data('target'));
    $('input[type=radio][name="' + item.name + '"]').on('change', function() {
        if($item.is(':checked')){
            $target.collapse('show');
        }
        else {
            $target.collapse('hide');}
    });
});
</script>