==
<form data-request-validate  data-request="onAddToOrder" data-request-success="$('#exampleModalCenter').modal('hide');$('#info').modal('show')" >
    <div class="modal fade" id="exampleModalCenter" >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Оформление заказа</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mt-2 mb-2  border-content ">
                        <label>Email</label>
                        <input
                            name="email"
                            type="text"
                            class="form-control"
                            required
                            placeholder="Введите свой Email" 
                            value="{{ user.email }}"/>
                        <label>Имя</label>
                        <input
                            name="name"
                            type="text"
                            class="form-control"
                            required
                            placeholder="Введите свое имя" 
                            value="{{ user.name }}"/>
                        <label>Фамилия</label>
                        <input
                            name="surname"
                            type="text"
                            class="form-control"
                            required
                            placeholder="Введите свою фамилию"
                            value="{{ user.surname }}"/>
                        <label>Телефон</label>
                        <input
                            name="phone"
                            type="text"
                            class="form-control"
                            required
                            placeholder="Введите свой телефон" 
                            value="{{ user.phone }}"/>
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input check" id="check1" data-target="#radio1" data-toggle="radio-collapse"  name="when" value="sam" type="radio">
                            <label class="custom-control-label" for="check1"><span>Самовывоз</span></label>
                        </div>
                        <div id="radio1" class="collapse">
                            <label>Пункт выдачи</label>
                            <select class="form-control" id="myDropDown" name='adress_magazin'>
                                <option value="ТРЦ Воскресенск">г.Воскресенск, ТРЦ "Воскресенск"</option>
                                <option value="ТРЦ Авиатор">г.Жуковский, ТРЦ "Авиатор"</option>
                                <option value="ТРЦ Весна">г.Лыткарино, ТРЦ "Весна"</option>
                            </select>
                        </div>
                        <div class="custom-control custom-radio">
                            <input  class="custom-control-input check" id="check2" data-target="#radio2" data-toggle="radio-collapse"  name="when" value="dost" type="radio">
                            <label class="custom-control-label" for="check2"><span>Доставка курьером</span></label>
                        </div>
                        <div id="radio2" class="collapse">
                            <label>Город</label>
                            <select  id="myDropDown1" class="form-control" name='city'>
                                <option value="Воскресенск">г.Воскресенск</option>
                                <option value="Жуковский">г.Жуковский</option>
                            </select>
                            <label>Адресс</label>
                            <input
                                name="adress"
                                type="text"
                                class="form-control"
                                {%if input['when']=='dost' %}
                                    required
                                {%endif%}
                                placeholder="Введите адресс доставки" 
                                value="{{ user.adress }}"/>
                        </div>
                        <div class="pt-3">
                            <input  class="button_form w-100" value="Оформить заказ" type="submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>