[account]
paramCode = "code"
forceSecure = 0

[session]
security = "user"
==


{% partial 'segnora_user_update' %}
{% partial account ~ '::deactivate_link' %}
<!-- <div class="bsk">
    <div class="center">
        <div class="login_info">История заказов</div>
    </div>
    <div class="center mt-2 mb-2">
        <div class="border-content  w-100">
            <div class="center basket-tovar">
                <div class="basket-img center p-1 ">
                    <img src="{{'assets/images/Безымянный.png'|theme}}" >
                </div>
                <div class="p-2 p-md-4">
                    <P>Юбка полосатая</P>
                    <P>Размер</P>
                </div>
                <div class="p-2 p-md-4">
                    <p>кол-во</p>
                </div>
                <div class="p-2 p-md-4">
                    <p>цена</p>
                </div>
                <div class="p-2 p-md-4">
                    <p>удалить</p>
                </div>
            </div>
        </div>
    </div>
    <div class="center mt-2 mb-2">
        <div class="border-content  w-100">
            <div class="center basket-tovar">
                <div class="basket-img center p-1 ">
                    <img src="{{'assets/images/Безымянный.png'|theme}}" >
                </div>
                <div class="p-2 p-md-4">
                    <P>Юбка полосатая</P>
                    <P>Размер</P>
                </div>
                <div class="p-2 p-md-4">
                    <p>кол-во</p>
                </div>
                <div class="p-2 p-md-4">
                    <p>цена</p>
                </div>
                <div class="p-2 p-md-4">
                    <p>удалить</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
