==


<form data-request-success="
if(data.valid=='good'){$('#info1').modal('show')};
if(data.valid=='error'){$('#info2').modal('show')}"
    {% if user %}
        data-request="onAddToCart"
    {% else %}
        action="{{'accaunt'|page}}"
    {% endif %}>
    
    <input type='hidden' name='id' value='{{ record.id }}'>    

    <div class="row">
        <div class="col-12"><h2 class="center">{{ record.name }}</h2></div>
        <div class="center-left col-8 col-sm-6 col-md-8 col-lg-9">
            <h5>Цена</h5>
        </div>
        <div class="center-right p-0 col-4 col-sm-6 col-md-4 col-lg-3">
            {% if record.discount >0 %}
                <h5 class="text-right m-0"><strike>{{ record.price }}</strike> {{ record.discount }}</h5>
            {% endif %}
            {% if record.discount ==0 %}
                <h5 class="text-right m-0">{{ record.price }}</h5>
            {% endif %}
        </div>

        <div class="center-left col-8 col-sm-6 col-md-8 col-lg-9">
            <h5>Страна производителя</h5>
        </div>
        <div class="center-right p-0 col-4 col-sm-6 col-md-4 col-lg-3">
            <p class="text-right m-0">{{ record.Country.name_country }}</p>
        </div>
        <div class="center-left col-8 col-lg-7 col-xl-8">
            <h5>Размер {{valid}}</h5>
        </div>
        <div class="center-right p-0 col-4 col-lg-5 col-xl-4">
                {% set nal=0 %} 
                {%for s in record.sizes %}
                    {%if s.quantity>0%}
                        {% set nal=nal+1 %} 
                    {% else %}
                    {% endif %}
                {%endfor%}
            {%if nal==0%}<p class="card-text m-0" disabled selected='1'>нет в наличии</p>
            {%else%}
            <div class="my-select">
            <select name="size" class="p-1">
                {%for s in record.sizes %}
                    {%if s.quantity>0%}
                        <option  value='{{ s.size }}'>{{ s.size }}  {{s.quantity}}.шт </option>
                    {%endif%}
                {% endfor %}
            </select>&#9660
            </div>
            {%endif%}
        </div>

        <div class="col-12">
            <h5 class="text-center">Состав</h5>
        </div>
        <div class="col-12">
            <p class="text-center m-0">{{ record.composition }}</p>
        </div>
        {% if nal>0 %}
        <div class="col-12 p-3 center">
            <input class="button_form w-100" type="submit" value="В корзину">
        </div>
        {%endif%}
    </div>
</form>
