<div class="container-fuild footer p-0 ">
    <div class="container container-p20 text-center">
        <div class="row">
            <div class="row col-12 colonka ">
                <div class="col-lg-8 col-md-6 col-12 row ">
                    <div class="col-12 col-lg-6 col-xl-12 p-2 center flex-start">
                        <p>ХОТИТЕ ПОЛУЧАТЬ НОВОСТИ И БЫТЬ В КУРСЕ АКЦИЙ?</p>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-12 p-2 center flex-start">
                        <div class="subs position-relative center flex-start">
                            <input type="email">
                            <input type="button" value="Подписаться">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 p-2">
                    <a name="#contact"></a>
                    <ul class="align-items-center">             
                        <li>г. Воскресенск, пл. Ленина, д.5, ТРЦ «Воскресенск»;</li>
                        <li>г. Жуковский, ул. Баженова, д.2а, ТРЦ "Авиатор";</li>
                        <li>г. Лыткарино, ул. Парковая, стр.2, ТРЦ "Весна".</li>
                        <li>Часы работы: с 10-00 до 22-00 Без выходных.</li>
                    </ul>
                </div>
            </div>  
            <div class="col-12 p-3 colonka">
                <ul class="d-sm-inline-block">             
                    <li class="d-sm-inline-block pr-2"><a href="{{'news'|page}}">Новости</a></li>
                    <li class="d-sm-inline-block pr-2"><a href="{{'about'|page}}">О нас</a></li>
                    <li class="d-sm-inline-block pr-2"><a><strike>Политика безопасности</strike></a></li>
                    <li class="d-sm-inline-block pr-2"><a href="{{'accaunt'|page}}">Личный кабинет</a></li>
                </ul>
            </div>
            <div class="col-12 soc-seti">
                <div class="">
                    <div class="row flex-wrap  text-left">
                        <a href="#" target="_blank" class="inst p-2"><img src="{{'assets/images/inst.png'|theme}}"></a>
                        <a href="#" target="_blank" class="vk p-2"><img src="{{'assets/images/vk.png'|theme}}" ></a>
                        <a href="tel:8-916-711-37-16" class="call p-2" style="white-space:nowrap;"><img src="{{'assets/images/call.png'|theme}} " >8-916-711-37-16</a>
                    </div>
                    <div class="  ">
                        <p class="author text-right">author: Anisimov Kirill</p>
                    </div>
                </div>
            </div>     
        </div>
    </div>
</div>