[builderList]
modelClass = "Kirill\Segnora\Models\Card"
scope = "scopeIdd"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "tovar"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
recordsPerPage = 9
pageNumber = "{{ :page }}"
sortColumn = "id"
sortDirection = "desc"
==
<?php
function onStart(){
    $this['paginat'] = str_replace(Request::url(),'',Request::fullUrl());
}
?>
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}
{% set sd="desc" %}


<!-- тело с галлереей -->
<!--div id="result" class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 p-0"-->
    <div class="row">
        {% for record in records %}
        {% spaceless %} 
            <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4 foto">
                <div class="card-deck">
                    <div class="card">
                        <div class="bg-card"></div>
                        <div class="div-img center">
                            {% if detailsPage %} 
                            <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}"class="h-100 center"> 
                            {% endif %}
                                <img src="{{record.photo|media}}" class="card-img-top img">
                            {% if detailsPage %}
                            </a> 
                            {% endif %}
                        </div>
                        <div class="card-body w-100 p-0 text-center">
                            {% set nal=0 %} 
                            {%for s in record.sizes %}
                                {%if s.quantity>0%}
                                    {% set nal=nal+1 %} 
                                {% else %}
                                {% endif %}
                            {%endfor%}
                            <h5 class="card-text m-0">{{ record.name }}</h5>
                            {%if nal==0%}<p class="card-text m-0">нет в наличии</p>
                            {%else%}
                                {% if record.discount >0 %}
                                <h4 class="card-text m-0"><strike>{{ record.price }}</strike> {{ record.discount }}</h4>
                                {% endif %}
                                {% if record.discount ==0 %}
                                <h4 class="card-text m-0">{{ record.price }}</h4>
                                {% endif %}
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        {% endspaceless %} 
        {% endfor %}
    </div>
    
    {% if records.lastPage>1 %}
        <ul class="pagination pagination-sm justify-content-center ">
            {% if records.currentPage >1 %}
            <li>
                <a class="page-link prev center" href="{{this.page.baseFileNmae|page({(pageParam):(records.currentPage-1)})}}{{paginat}}">
                    &laquo
                </a>
            </li>
            {% endif %}

            {%for page in 1..records.lastPage %}
                <li class="{{records.currentPage==page ? 'active' : null}}">
                    <a class="page-link center" href="{{this.page.baseFileNmae|page({(pageParam):page})}}{{paginat}}">{{page}}</a>
                </li>
            {% endfor %}

            {% if records.lastpage >records.currentPage %}
            <li>
                <a class="page-link next center" href="{{this.page.baseFileNmae|page({(pageParam):(records.currentPage+1)})}}{{paginat}}">
                    &raquo
                </a>
            </li>
            {% endif %}
        </ul>
    {% endif %}
<!-- </div> -->