[builderList]
modelClass = "Kirill\Segnora\Models\Order"
scope = "scopeOrder"
scopeValue = "{{ :scope }}"
displayColumn = "id_card"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "id"
sortDirection = "desc"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}


<div class="bsk">
    <div class="center">
        <div class="login_info">История заказов</div>
    </div>
    {%set i=0%}
    {% for record in records %}
        <label for="test{{i}}" class="center mt-2 mb-2">
            <div class="border-content  w-100">
                <div class="center row justify-content-around ">
                    <div class="text-center p-2 ">
                        <h5><strong>Номер заказа</strong></h5>
                        <P>{{ record.order_number }}</P>
                        {%if record.city==''%}
                        <p><strong>Самовывоз</strong></p>
                        {{  record.adress_magazin }}
                        {%else%}
                        <p><strong>Доставка курьером</strong></p>
                        {{  record.city }}
                        {{  record.adress }}
                        {%endif%}
                    </div>
                    <div class="text-center p-2 ">
                        <h5><strong>Дата заказа</strong></h5>
                        <P>{{ record.created_at }}</P>
                        {%if record.data!=''%}
                        <p><strong>Дата получения</strong></p>
                        <P>{{ record.data }}</P>
                        {%endif%}
                    </div>
                    <div class="text-center p-2 ">
                        {%if record.data==''%}
                        <h5><strong>Статус</strong></h5>
                        <P>Заказ не получен</P>
                        {%else%}
                        <h5><strong>Статус</strong></h5>
                        <P>Заказ получен</P>
                        {%endif%}
                    </div>
                        <div class="text-center p-2 " id="blink">
                        <h5><strong>подробнее</strong></h5>
                    </div>
                </div>
            </div>
        </label>
        <input data-request="onGetOrderDetails" name="t" value="{{record.order_number}}"
            data-toggle="modal" data-target="#order" id="test{{i}}" type="submit" style="display:none;">
        {%set i=i+1%}
    {%endfor%}
</div>