==
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                        <h5 class="modal-title">Информация о заказе</h5>
                        <p class="m-0">Сумма заказа: {{sum}}</p>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% for record in records2 %}
            <div class="text-center modal-body">
                <div class=" row justify-content-around">
                    <div class="history-img-container">
                        <a href="{{ 'tovar'|page({ ('id'): record.id_card }) }}"class="h-100 center"> 
                            <img src="{{record.card.photo|media}}" class="history-img" >
                        </a> 
                    </div>
                    <div class="p-2 text-center">
                        <P>{{ record.card.name }}</P>
                        <P>Размер {{ record.size }}</P>
                        <p>Цена {{ record.oldprice }}</p>
                        
                    </div>
                </div>
            </div>
            {%endfor%}
            <!-- <div class="modal-footer">
                <input type="hidden" name="del_order" value="{{ records2[0].order_number }}" />
                <input name="del_order"  data-request="onDeleteOrder" type="submit" value="{{ records2[0].order_number }}">
            </div> -->
        </div>
    </div>