[builderList]
modelClass = "Kirill\Segnora\Models\Card"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<?
function onStart(){
    $this['s_size'] = Db::table('kirill_segnora_size')->groupBy('size')->get();
    $this['s_country'] = Db::table('kirill_segnora_country')->get();
    $this['s_type'] = Db::table('kirill_segnora_clothing_type')->get();
    $this['input'] = Input::all();
    $this['link_sort_bnt'] = (explode('magazin',Request::url()))[0]."magazin/1".(str_replace(Request::url(),'',Request::fullUrl()));
}
?>
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}
<!-- <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 top-body"> -->
<!-- боковое меню -->
    <div class="left-menu">
        <!--data-request="onSmth" data-request-update="'gallery':'#result' -->
        <form id="form" method="get" action="{{link_sort_bnt}}">
            <ul>
                <li>
                    <input type="checkbox" id="left-menu1" class="menucb"
                    {%if 'sort' in input|keys 
                        or 'price' in input|keys
                        or 'discount' in input|keys
                    %}
                    checked="on"
                    {%endif%}>
                    <label for="left-menu1"><span>Сортировка</span></label>
                    <ul class="ul-li">
                        <li>
                            <label class="type_checkbox">
                                <input class="radio" type="checkbox" name="price" value= "desc"
                                {%if input['price']=='desc' %}checked{%endif%}>
                                <span>Цена по убыванию</span>
                            </label>
                        </li>      
                        <li>
                            <label class="type_checkbox">
                                    <input class="radio" type="checkbox" name="price" value= "asc"
                                    {%if input['price']=='asc' %}checked{%endif%}>
                                    <span>Цена по возрастанию</span>
                            </label>
                        </li>  
                        <li>
                            <label class="type_checkbox">
                                <input class="radio" type="checkbox" name="sort" value= "asc"
                                {%if input['sort']=='asc' %}checked{%endif%}>
                                <span>Сначала старые</span>
                            </label>
                        </li>
                        <li>
                            <label class="type_checkbox">
                                <input class="radio" type="checkbox" name="sort" value= "desc"
                                {%if input['sort']=='desc' or ('sort' not in input|keys and 'price' not in input|keys )%}checked{%endif%}>
                                <span>Сначала новые</span>
                            </label>
                        </li>
                        <li>
                            <label class="type_checkbox">
                                <input type="checkbox" name="discount" 
                                {%if input['discount']=='on' %}checked{%endif%}>
                                <span>Скидки</span>
                            </label>
                        </li>                          
                    </ul>
                </li>
                <li>
                    <input type="checkbox" id="left-menu2" class="menucb" {%if 'type' in input|keys %}checked="on"{%endif%}>
                    <label for="left-menu2"><span>Тип одежды</span></label>
                    <ul class="ul-li">
                    {%for t in s_type %}
                        <li>
                            <label class="type_checkbox">
                                <input type="checkbox" name="type[]" value= "{{ t.id }}"
                                {%if t.id in input['type'] %}checked{%endif%}>
                                <span>{{ t.type_clothing }}</span>
                            </label>
                        </li>
                    {% endfor %}                                  
                    </ul>
                </li>
                <li>       
                    <input type="checkbox" id="left-menu3" class="menucb" {%if 'size' in input|keys %}checked="on"{%endif%}>
                    <label for="left-menu3"><span>Размер</span></label>
                    <ul class="ul-li"> 
                        {%for s in s_size %}
                            <li>
                                <label class="type_checkbox">
                                    <input type="checkbox" name="size[]" value= "{{ s.size }}"
                                    {%if s.size in input['size'] %}checked{%endif%}>
                                    <span>{{ s.size }}</span>
                                </label>
                            </li>
                        {% endfor %}                               
                    </ul>
                </li>
                <li>       
                    <!-- <a href="#" data-toggle="collapse" data-target="#left-menu4">Страна производителя</a>
                    <div class="collapse" id="left-menu4">-->
                    <input type="checkbox" id="left-menu4" class="menucb" {%if 'country' in input|keys %}checked="on"{%endif%}>
                    <label for="left-menu4"><span>Страна производителя</span></label>
                    <ul class="ul-li">
                        {%for c in s_country %}
                            <li>
                                <label class="type_checkbox">
                                    <input type="checkbox" name="country[]" value= "{{ c.id }}"
                                    {%if c.id in input['country'] %}checked="on"{%endif%}>
                                    <span>{{ c.name_country }}</span>
                                </label>
                            </li>
                        {% endfor %}
                        
                    </ul>
                </li>
            </ul>
            <button class="w-100 sortbtn" type="submit">Применить</button>
        </form>
    </div>
    <!-- карусель offset-3 -->
    <div class="row crausel-left-menu">
        <div class="col-12 p-0">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="4000">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" ></li> 
                    <li data-target="#carouselExampleIndicators" data-slide-to="2" ></li>
                </ol>
                <div class="carouselbg text-center" id="bg"></div>
                <div class="carousel-inner h-100 text-center" >
                    <div class="carousel-item h-100 active">
                        <img src="{{'assets/images/реклама.jpg'|theme}}">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="{{'assets/images/Безымянный2.png'|theme}}" >
                    </div>      
                    <div class="carousel-item h-100">
                        <img src="{{'assets/images/реклама1.jpg'|theme}}" >
                    </div>                
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->