[builderList]
modelClass = "Kirill\Segnora\Models\News"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "news_news"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
recordsPerPage = 6
pageNumber = "{{ :page }}"
sortColumn = "id"
sortDirection = "desc"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}


<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-9 new-foto mt-3">
    <a class="carousel-control-prev"  id="carusel4-prev" >
        <div class="t-prew">
        </div>
    </a>
    <div class="d-flex overflow-auto" id="scroll4">
        {% for record in records %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
            <div class="card-deck news-color">
                <div class="card">
                    <div class="card-body  w-100 p-0 text-center">
                        <h5 class="card-title m-0">
                            <a class="pb-5" href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                                {{ html_limit(record.name,38)|raw }}
                            </a>
                        </h5>
                    </div>
                    <div class="div-img center">
                        <p>
                            {{html_limit(record.news_text, 159)|raw}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    <a class="carousel-control-next "  id="carusel4-next" >
        <div class="t-next">
        </div>
    </a>
</div>