<div class="card">
    <div class="bg-card"></div>
    <div class="div-img">
        <img src="{{ ('assets/images/' ~ image) |theme }}" class="card-img-top img">
    </div>
    <div class="card-body w-100 p-0 text-center">
        <h5 class="card-title m-0">{{ price }}</h5>
        <p class="card-text">{{ name }}</p>
    </div>
</div>