[builderList]
modelClass = "Kirill\Segnora\Models\Card"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "tovar"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "id"
sortDirection = "desc"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-9 new-foto mt-3">
    <a class="carousel-control-prev"  id="{{idcontrol}}-prev" >
        <div class="t-prew">
        </div>
    </a>
    <div class="d-flex overflow-auto" id="{{idscroll}}">
        {% set c=6 %}
        {% for record in records if (iff==1 and record.discount == 0 or iff==2 and record.discount > 0) and c>0 %}
        {% set c=c-1 %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
            <div class="card-deck">
                <div class="card">
                    <div class="bg-card"></div>
                    <div class="div-img center">
                        {% if detailsPage %} 
                        <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}"class="h-100 center"> 
                        {% endif %}
                            <img src="{{record.photo|media}}" class="card-img-top img">
                        {% if detailsPage %} 
                        </a> 
                        {% endif %}
                    </div>
                    <div class="card-body w-100 p-0 text-center">
                        {% if record.discount == 0 %}
                            <h5 class="card-title m-0">{{ record.price }}</h5>
                        {% endif %}
                        {% if record.discount >0 %}
                        <h5 class="card-title m-0"><strike>{{ record.price }}</strike> {{ record.discount }}</h5>
                        {% endif %}
                        <p class="card-text">{{ record.name }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <a class="carousel-control-next" id="{{idcontrol}}-next" >
            <div class="t-next">
            </div>
        </a>
    </div>
</div>