{{ form_ajax('onUpdate') }}

    <div class="form-group">
        <label for="accountName">Полное имя</label>
        <input name="name" type="text" class="form-control" id="accountName" value="{{ user.name }}">
    </div>

    <div class="form-group">
        <label for="accountEmail">Email</label>
        <input name="email" type="email" class="form-control" id="accountEmail" value="{{ user.email }}">
    </div>

    <div class="form-group">
        <label for="vk">vk</label>
        <input name="vk" type="text" class="form-control" id="vk" value="{{ user.vk }}">
    </div>

    <div class="form-group">
        <label for="accountPassword">Новый пароль</label>
        <input name="password" type="password" class="form-control" id="accountPassword">
    </div>

    <div class="form-group">
        <label for="accountPasswordConfirm">Повторите пароль</label>
        <input name="password_confirmation" type="password" class="form-control" id="accountPasswordConfirm">
    </div>

    <div>
        <button type="submit" class="btn btn-default">Соханить</button>
    </div>
    
    <div>
        <button type="submit" class="btn btn-default"
            data-request="onLogout" data-request-data="redirect: '/'">
            Выйти
        </button>
    </div>
    

{{ form_close() }}
