.center
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-left
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.center-right
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
html
{
    min-height: 100vh;
}
body
{
    display: flex;
    flex-direction:column;
    min-height: 100vh;
    // font-family: "Sans"; 
    // font-family: "kelvinch"; 
    font-size: 1.1em;
    .row
    {
        margin: 0;
    }
    .container
    {
        padding: 0;
        max-width: 1250px;
    }
    .container_form
    {
        width: 100%;
        padding: 0;
        max-width: 992px;
    }
    .container-p20
    {
        padding: 20px;
    }
    .logo
    {
        width: 100px;
        height: 50px;
    }
    ::-webkit-scrollbar{ width: 0px;} /* 1 - вертикальный скроллбар */
    ::-webkit-scrollbar:horizontal{ height: 5px;} /* 1 - горизонтальный скроллбар */
    ::-webkit-scrollbar-button {background: rgb(252, 158, 158);} /* 2 - кнопка */
    ::-webkit-scrollbar-track {background: #f12451;}/* 3 - трек */
    ::-webkit-scrollbar-track-piece { background: rgb(252, 158, 158);} /* 4 – видимая часть трека */ 
    ::-webkit-scrollbar-thumb {background: #f12451; border-radius: 10px;} /* 5 - ползунок */
}

.header
{
    font-family: "kelvinch"; 
    .top-head
    {
        padding:20px 20px 0 20px;
        .top-head-content
        {
            padding: 0;
        }
    }
    background-color: rgb(43, 43, 43);
    .btn
    {
        background-color: gainsboro;
    }
    a
    {
        color:white;  
        text-decoration: none;
    }   
    a:hover
    {
        color:lightcoral;
    } 
}

.body
{

    .about
    {
        font-family: "Sans";
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            
        } 
        .top-about
        {
            height: 400px;
            position: relative;
            h1
            {
                position: absolute;
                top:35%;
                text-align: center; 
                width: 100%;
                color: #f3486d;
                font-family: "Streamster";
                font-size: 5rem;
            }
            
            img
            {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    





    #blink {
        -webkit-animation: blink 3s linear infinite;
        animation: blink 3s linear infinite;
    }
    @-webkit-keyframes blink {
        0% { color: rgb(17, 17, 17); }
        50% { color: rgb(114, 114, 114); }
        100% { color: rgb(17, 17, 17); }
    }
    @keyframes blink {
        0% { color: rgb(17, 17, 17); }
        50% { color: rgb(114, 114, 114); }
        100% { color: rgb(17, 17, 17); }
    }
    background-color: rgba(250, 168, 168, 0.137);
    .my-select
    {
        select{
        background: transparent;
        border:0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        text-align-last: right;
        text-align: right;
        }
        select option
        {
            background-color: rgba(250, 168, 168, 0.137);
        }
    }
    input[type="submit"]
    {
        margin: 5px;
        outline:none;
        color:white;
        background-color: black;
        border: 0;
        border-radius: 50px; 
        padding: 3px 40px 3px 40px;
        font-family: "kelvinch"; 
        
    }
    .border-content
    {
        border-radius: 20px;
        border: 2px solid lightgray;
    }
    
    
    flex: 1 0 auto;

    .div-img
    {
        color:white;
        z-index: 0;
        margin: 10px;
        height: 300px;
    }
    .card-title.card-text
    {
        font-family: "Sans";
    }
    .card
    {   
        margin: 0;
        border: 0;
        overflow: hidden;
        .card-img-top
        {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
    .card-deck
    {
        margin: 0;
        a
        {
            color:white;
            text-decoration: none;
        }
    }
    .bg-card
    {
        position: absolute;
        z-index: 0;
        
        opacity:0.9;
        //position: absolute;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: cover;
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        filter: blur(10px);
        
    }
    .card-body
    {
        z-index: 0;
        background-color: white;
    }
    .top-body
    {
        padding: 0 0 20px 0;
    }

    .gl
    {
        .carousel
        {
            padding: 0;
            height: auto;
            
            .carousel-inner
            {
                height: 400px;
                .carousel-item
                {
                    height: 100%;
                }
                img
                {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                .carousel-caption
                {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    padding: 0 30px 0 30px;
                    position: absolute;
                    bottom: 20%;
                    p
                    {
                        padding: 40px 0 0 0;
                    }
                    a
                    {
                        color: white;
                        text-decoration: none;
                        border: 1px;
                        border-radius: 50px 50px 50px 50px;
                        padding: 15px 40px 15px 40px;
                        background-color: rgb(29, 29, 29)
                    }
                    right: auto;
                    left: auto;
                    z-index: 10;
                }
            }
        }
        .new-foto
        {
            .carousel-control-prev, .carousel-control-next
            {
                width: 30px;
                .t-prew 
                {
                    border-top: 20px solid transparent;
                    border-right: 20px solid black;
                    border-bottom: 20px solid transparent;
                }
                .t-next 
                {
                    border-top: 20px solid transparent;
                    border-left: 20px solid black;
                    border-bottom: 20px solid transparent;
                }
            }
        }
        .new
        {
            background-image:url(../images/new.png);
        }
        .sale
        {
            background-image:url(../images/sale.png);
        }
        .news
        {
            background-image:url(../images/news.png);
        }
        .sale, .new, .news
        {
            height: auto;
            background-color: black;
            background-size: contain;
            .card-body
            {
                text-align: center;
                color:white;
                background-color: transparent;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .text
            {
                padding: 20px;
                background-color: black;
                border: 0;
                border-radius: 15px;
                a{
                    color:white;  
                    text-decoration: none;
                }
                button{
                    background-color: black;
                    color:white;
                    border: none;
                    outline: none;
                }
                a:hover,button:hover
                {
                    color:lightcoral;
                } 
            }
        }
        .news-color
        {
            background-color:rgb(29, 29, 29) ;
            .card
            {
                background-color:rgb(29, 29, 29) ;
                margin-top: 1rem !important;
                .card-body
                {
                color:white;
                background-color: rgb(29, 29, 29);
                }
            }   
        }
    }

    
    .page_news
    {
        .news-post-top
        {
            h3,h3 a, h5
            {
                text-align: center;
                color:black;  
                text-decoration: none;
            }
        }
        .back
        {
            padding: 10px;
            a
            {
                border: 0;
                border-radius: 20px; 
                padding: 5px 20px;
                background: black;
                color:white;  
                text-decoration: none;
            }   
        }
    }

    .left-menu
    {
        font-family: "Sans";
        background-color: black;
        padding: 20px;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            
        } 
        .ul-li
        {
            li{
            padding-left: 10px;
            }
        }
        
        label
        {
            color:white;
            margin: 0;
        }
        .type_checkbox
        {
            
            input[type="checkbox"]
            {
                display: none;
            }

            span::after 
            {
                content: '';
                display: block;
                width: 0;
                height: 1px;
                background: lightcoral;;
                transition: width 0.5s;
            }

            input[type="checkbox"]:checked+span::after
            {
                width: 100%;
            }

            span::before
            {
                content: '\2013';
                margin-right:5px;
                display:inline-block;
                width: 15px;
                background-color: white;
                transition: 0.5s;
                border: 1px solid black;
                border-radius: 4px;
                text-align: center;
                font-family: Arial;
                font-size: 14px;
                line-height: 14px;
                font-weight: bold;
                color: black;
            }

            input[type="checkbox"]:checked+span::before
            {
                content: "\2713";
                color:lightcoral;
                background-color: black;
                border-style: solid;
                border-radius: 3px;
                border-width:1px;
                
                border:  1px solid white;
            }
        }
        .menucb
        {
            display:none;
        }
        li > ul{
            transform:scaleY(0);
            max-height:0;
            transition:transform 0.5s ease-out, max-height 0.5s;
            transform-origin:top;
            
        }
        .menucb:checked ~ ul
        {
            height:auto;
            max-height:9999px;
            transform:scaleY(1);
            -webkit-transform:scaleY(1);
            display:block;  
        }
        .menucb:checked +label
        {
            color:lightcoral;
        }

        .sortbtn
        {
            margin-top: 10px;
            background-color: white;
            border: none;
            color: black;
            border-radius: 5px;
            padding: 0 30px;
        }
    }
    .crausel-left-menu
    {
        padding-top: 20px;
    }

    .foto
    {
        padding-bottom: 15px;
    }
    // .tovar
    // {
    //     display: flex;
    //     justify-content: center;
        
    //     ul
    //     {
    //         list-style: none;
    //         padding: 0;
    //     }
    //     .composition
    //     {
    //         p{margin:0;}
    //         select
    //         {
    //             // border: 0px;
    //             background-color: transparent;
    //             // option
    //             // {
                    
    //             //     border: 0px;
    //             //     background-color: rgba(250, 168, 168, 0.137);;
    //             // }
    //         }
    //     }
    //     .card-img-top
    //     {
    //         width: auto;
    //         height: auto;
    //         max-width: 100%;
    //         max-height: 100%;
    //     }
    // }


    .pagination
    {
        .active
        {
            .page-link
            {
                background: lightgray;
                border-color:black;
                color:black;
            }
        }
        .page-link
        {
            color:black;
            background: white;
            border-width:1px;
            margin-left: 5px;
            border-radius: 7px;
            border-color: rgb(99, 99, 99);
            
        }
        
    }

    .login
    {
        font-family: "Sans";
        padding: 20px;
        form:first-child[class~="border-content"]
        {
            border-radius: 20px 0 0 20px;
            border: 2px solid lightgray;
        }
        form:last-child[class~="border-content"]
        {
            border-radius:  0 20px 20px 0;
            border: 2px solid lightgray;
        }

        .border-content
        {
            padding:15px;
            border-radius: 20px;
            border: 2px solid lightgray;
        }
        .login_info
        {
            
            border-radius: 10px;
            padding: 10px;
            color:white;
            display: inline-block;
            background: black;
        }
    }


    .bsk
    {
        font-family: "Sans";
        p{margin: 0}
        .basket-head
        {
            
            display: flex;
            align-items: stretch;
            .basket-info
            {
                border-radius: 20px 0 0 20px;
                margin-top: 20px;
                background: black;
                padding: 20px;
                color:white;
                position: relative;
            }
            .basket-info:after
            {
                content: "";
                left: 100%;
                position: absolute;
                border-top: 10px solid transparent;
                border-left: 15px solid black;
                border-bottom: 10px solid transparent;
                z-index: 1000;
            }
            .basket-welcome
            {
                border-radius: 0 20px 20px 0;
                margin-top: 20px;
                background: gray;
                padding: 20px;
                color:black;
            }
        }
        .basket-img
        {
            height: auto;
            width: 150px;
            img
            {
                max-width: 100%;
                height: auto;
                max-height: 150px;
            }
        }
        
    }
    
    .history-img-container
    {
        width: 200px;
        
        .history-img
        {
            max-width: 200px;
            height: auto;
            max-height: 200px;
        }
    }

    .carousel
    {
        overflow: hidden;
        padding: 20px 0 20px 0;
        height: 400px;
        .carouselbg
        {     
            position: absolute;
            height: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-size: cover;
            -webkit-filter: blur(10px);
            -moz-filter: blur(10px);
            filter: blur(10px);
        }
        .carousel-inner
        {
            img
            {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

.footer
{
    font-family: "kelvinch"; 
    background-color: rgb(43, 43, 43);
    color:white;
    p
    {
        margin: 0;
        padding: 0;
    }
    a
    {
        color:white;
        text-decoration: none;
        margin: 0;
        padding: 0;
    }
    a:hover
    {
        color:lightcoral;
    } 
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }    
    .subs
    {   
        border: 1px solid #d3d3d3;
        border-radius: 50px 50px 50px 50px;
            
        input[type="email"]
        {
            outline:none;
            width: 100%;
            border: 0;
            border-radius: 50px 0 0 50px; 
            padding: 3px 20px 3px 20px;
            background: rgb(43, 43, 43);
            color: white;
        }
        input[type="button"]
        {
            outline:none;
            background-color: white;
            border: 0;
            border-radius: 50px 50px 50px 50px; 
            padding: 5px 20px 5px 20px;
        }
    }
    .soc-seti
    {
        padding: 20px;
        border-top: 2px solid rgb(29, 29, 29);
    }
    .author
    {
        color: rgb(39, 39, 39);
    }

    .inst:hover{
        img{
            background: #f12451;
            border-radius: 10px;
        }
    }
    .vk:hover{
        img{
            background: #244af1;
            border-radius: 10px;
        }
    }
    .call:hover{
        color:#46f124;
        img{
            background: #46f124;
            border-radius: 10px;
        }
    }
}

@media (min-width: 1200px) {
    .flex-start {
      justify-content: flex-start;
    }
    .align-items-start
    {
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .body .bsk .basket-head
    {
        .basket-info
        {
            border-radius: 20px 20px 0 0;
            margin-top: 0;
        }
        .basket-info:after
        {
            content: "";
            top:100%;
            left: 50%;
            position: absolute;
            border-top: 15px solid black;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid transparent;
            z-index: 1000;
        }
        .basket-welcome
        {
            border-radius: 0 0 20px 20px;
            margin-top: 0;
        }
    }
}
@media (max-width: 380px) {
.body{
    input[type="submit"]
    {
        padding: 2px 20px 2px 20px;
    }
}
}
@font-face 
{
    font-family: "Sans"; 
    src: url("../Font/2211.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

@font-face 
{
    font-family: "kelvinch"; 
    src: url("../Font/16654.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face 
{
    font-family: "Streamster"; 
    src: url("../Font/16881.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
